USE [master]
GO
/****** Object:  Database [Uchebka_SS]    Script Date: 23.11.2023 11:53:05 ******/
CREATE DATABASE [Uchebka_SS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Uchebka_SS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Uchebka_SS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Uchebka_SS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Uchebka_SS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Uchebka_SS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Uchebka_SS]
GO
/****** Object:  Table [dbo].[Degree]    Script Date: 23.11.2023 11:53:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Degree](
	[Id_degree] [int] NOT NULL,
	[Degree] [nvarchar](max) NULL,
 CONSTRAINT [PK_Degree] PRIMARY KEY CLUSTERED 
(
	[Id_degree] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 23.11.2023 11:53:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Id_Employee] [int] NOT NULL,
	[Id_Lectern] [nvarchar](2) NULL,
	[Surname] [nvarchar](50) NULL,
	[Id_Position] [int] NULL,
	[Salary] [decimal](8, 2) NULL,
	[Chief] [int] NULL,
	[Stage] [int] NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[Id_Employee] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Examen]    Script Date: 23.11.2023 11:53:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Examen](
	[Id_Examen] [int] IDENTITY(1,1) NOT NULL,
	[Date_Examen] [date] NOT NULL,
	[Id_Subject] [int] NOT NULL,
	[Id_Student] [int] NULL,
	[Id_Employee] [int] NULL,
	[Auditory] [nvarchar](10) NULL,
	[Mark] [int] NULL,
 CONSTRAINT [PK_Examen] PRIMARY KEY CLUSTERED 
(
	[Id_Examen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Faculty]    Script Date: 23.11.2023 11:53:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Faculty](
	[Id_Faculty] [nvarchar](2) NOT NULL,
	[Name_Faculty] [nvarchar](100) NULL,
 CONSTRAINT [PK_Facukty] PRIMARY KEY CLUSTERED 
(
	[Id_Faculty] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lectern]    Script Date: 23.11.2023 11:53:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lectern](
	[Id_Lectern] [nvarchar](2) NOT NULL,
	[Name_Lectern] [nvarchar](100) NULL,
	[Id_Faculty] [nvarchar](2) NULL,
 CONSTRAINT [PK_Lectern] PRIMARY KEY CLUSTERED 
(
	[Id_Lectern] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Position]    Script Date: 23.11.2023 11:53:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Position](
	[Id_Position] [int] NOT NULL,
	[Position] [nvarchar](max) NOT NULL,
	[Id_Degree] [int] NULL,
 CONSTRAINT [PK_Position] PRIMARY KEY CLUSTERED 
(
	[Id_Position] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Request]    Script Date: 23.11.2023 11:53:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Request](
	[Id_Spec] [nvarchar](8) NOT NULL,
	[Id_Subject] [int] NOT NULL,
 CONSTRAINT [PK_Request] PRIMARY KEY CLUSTERED 
(
	[Id_Spec] ASC,
	[Id_Subject] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Specs]    Script Date: 23.11.2023 11:53:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specs](
	[Id_Spec] [nvarchar](8) NOT NULL,
	[Direction] [nvarchar](50) NULL,
	[Id_Lectern] [nvarchar](2) NULL,
 CONSTRAINT [PK_Specs] PRIMARY KEY CLUSTERED 
(
	[Id_Spec] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 23.11.2023 11:53:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[Id_Student] [int] NOT NULL,
	[Id_Spec] [nvarchar](8) NULL,
	[Surname_Student] [nvarchar](50) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[Id_Student] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 23.11.2023 11:53:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[Id_Subject] [int] NOT NULL,
	[Cize_Subject] [int] NULL,
	[Name_Subject] [nvarchar](30) NULL,
	[Id_Lectern] [nvarchar](2) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Subject] PRIMARY KEY CLUSTERED 
(
	[Id_Subject] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Degree] ([Id_degree], [Degree]) VALUES (1, N'д. т.н.')
INSERT [dbo].[Degree] ([Id_degree], [Degree]) VALUES (2, N'к. ф.-м. н.')
INSERT [dbo].[Degree] ([Id_degree], [Degree]) VALUES (3, N'к. т.н.')
GO
INSERT [dbo].[Employee] ([Id_Employee], [Id_Lectern], [Surname], [Id_Position], [Salary], [Chief], [Stage], [IsDeleted]) VALUES (101, N'пи', N'Прохоров П.П.', 3, CAST(3500.00 AS Decimal(8, 2)), 101, 15, 1)
INSERT [dbo].[Employee] ([Id_Employee], [Id_Lectern], [Surname], [Id_Position], [Salary], [Chief], [Stage], [IsDeleted]) VALUES (102, N'пи', N'Семенов С.С.', 5, CAST(25000.00 AS Decimal(8, 2)), 101, NULL, 1)
INSERT [dbo].[Employee] ([Id_Employee], [Id_Lectern], [Surname], [Id_Position], [Salary], [Chief], [Stage], [IsDeleted]) VALUES (105, N'пи', N'Петров П.П.', 6, CAST(25000.00 AS Decimal(8, 2)), 101, NULL, 1)
GO
SET IDENTITY_INSERT [dbo].[Examen] ON 

INSERT [dbo].[Examen] ([Id_Examen], [Date_Examen], [Id_Subject], [Id_Student], [Id_Employee], [Auditory], [Mark]) VALUES (1, CAST(N'2015-06-05' AS Date), 202, 20101, 202, N'т506', 5)
INSERT [dbo].[Examen] ([Id_Examen], [Date_Examen], [Id_Subject], [Id_Student], [Id_Employee], [Auditory], [Mark]) VALUES (2, CAST(N'2015-06-05' AS Date), 202, 20102, 202, N'т506', 3)
INSERT [dbo].[Examen] ([Id_Examen], [Date_Examen], [Id_Subject], [Id_Student], [Id_Employee], [Auditory], [Mark]) VALUES (3, CAST(N'2015-06-07' AS Date), 102, 30101, 105, N'ф419', 3)
SET IDENTITY_INSERT [dbo].[Examen] OFF
GO
INSERT [dbo].[Faculty] ([Id_Faculty], [Name_Faculty]) VALUES (N'гн', N'Гуманитарные науки')
INSERT [dbo].[Faculty] ([Id_Faculty], [Name_Faculty]) VALUES (N'ен', N'Естественные науки')
INSERT [dbo].[Faculty] ([Id_Faculty], [Name_Faculty]) VALUES (N'ит', N'Информационные технологии')
GO
INSERT [dbo].[Lectern] ([Id_Lectern], [Name_Lectern], [Id_Faculty]) VALUES (N'вм', N'Высшая математика', N'ен')
INSERT [dbo].[Lectern] ([Id_Lectern], [Name_Lectern], [Id_Faculty]) VALUES (N'ис', N'Информационные системы', N'ит')
INSERT [dbo].[Lectern] ([Id_Lectern], [Name_Lectern], [Id_Faculty]) VALUES (N'мм', N'Математическое моделирование', N'фм')
GO
INSERT [dbo].[Position] ([Id_Position], [Position], [Id_Degree]) VALUES (1, N'программист', NULL)
INSERT [dbo].[Position] ([Id_Position], [Position], [Id_Degree]) VALUES (2, N'Электрик', NULL)
INSERT [dbo].[Position] ([Id_Position], [Position], [Id_Degree]) VALUES (3, N'профессор', 1)
GO
INSERT [dbo].[Request] ([Id_Spec], [Id_Subject]) VALUES (N'01.03.04', 101)
INSERT [dbo].[Request] ([Id_Spec], [Id_Subject]) VALUES (N'01.03.04', 205)
INSERT [dbo].[Request] ([Id_Spec], [Id_Subject]) VALUES (N'01.03.04', 209)
GO
INSERT [dbo].[Specs] ([Id_Spec], [Direction], [Id_Lectern]) VALUES (N'01.03.04', N'Прикладная математика', N'мм')
INSERT [dbo].[Specs] ([Id_Spec], [Direction], [Id_Lectern]) VALUES (N'09.03.02', N'Информационные системы и технологии', N'ис')
INSERT [dbo].[Specs] ([Id_Spec], [Direction], [Id_Lectern]) VALUES (N'09.03.03', N'Прикладная информатика', N'пи')
GO
INSERT [dbo].[Student] ([Id_Student], [Id_Spec], [Surname_Student], [IsDeleted]) VALUES (10103, N'09.03.03', N'Крюков К. К.', 1)
INSERT [dbo].[Student] ([Id_Student], [Id_Spec], [Surname_Student], [IsDeleted]) VALUES (20101, N'09.03.02', N'Андреев А. А.', 1)
INSERT [dbo].[Student] ([Id_Student], [Id_Spec], [Surname_Student], [IsDeleted]) VALUES (20102, N'09.03.02', N'Федоров Ф. Ф.', 1)
GO
INSERT [dbo].[Subject] ([Id_Subject], [Cize_Subject], [Name_Subject], [Id_Lectern], [IsDeleted]) VALUES (101, 320, N'Математика', N'ис', 1)
INSERT [dbo].[Subject] ([Id_Subject], [Cize_Subject], [Name_Subject], [Id_Lectern], [IsDeleted]) VALUES (102, 160, N'Информатика', N'пи', 1)
INSERT [dbo].[Subject] ([Id_Subject], [Cize_Subject], [Name_Subject], [Id_Lectern], [IsDeleted]) VALUES (103, 160, N'Физика', N'оф', 1)
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Position] FOREIGN KEY([Id_Position])
REFERENCES [dbo].[Position] ([Id_Position])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Position]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_To_Chief] FOREIGN KEY([Chief])
REFERENCES [dbo].[Employee] ([Id_Employee])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_To_Chief]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_To_Lectern] FOREIGN KEY([Id_Lectern])
REFERENCES [dbo].[Lectern] ([Id_Lectern])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_To_Lectern]
GO
ALTER TABLE [dbo].[Examen]  WITH CHECK ADD  CONSTRAINT [FK_Exam_To_Employee] FOREIGN KEY([Id_Employee])
REFERENCES [dbo].[Employee] ([Id_Employee])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Examen] CHECK CONSTRAINT [FK_Exam_To_Employee]
GO
ALTER TABLE [dbo].[Examen]  WITH CHECK ADD  CONSTRAINT [FK_Exam_To_Student] FOREIGN KEY([Id_Student])
REFERENCES [dbo].[Student] ([Id_Student])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Examen] CHECK CONSTRAINT [FK_Exam_To_Student]
GO
ALTER TABLE [dbo].[Examen]  WITH CHECK ADD  CONSTRAINT [FK_Exam_To_Subject] FOREIGN KEY([Id_Subject])
REFERENCES [dbo].[Subject] ([Id_Subject])
GO
ALTER TABLE [dbo].[Examen] CHECK CONSTRAINT [FK_Exam_To_Subject]
GO
ALTER TABLE [dbo].[Lectern]  WITH CHECK ADD  CONSTRAINT [FK_Lectern_To_Faculty] FOREIGN KEY([Id_Faculty])
REFERENCES [dbo].[Faculty] ([Id_Faculty])
GO
ALTER TABLE [dbo].[Lectern] CHECK CONSTRAINT [FK_Lectern_To_Faculty]
GO
ALTER TABLE [dbo].[Position]  WITH CHECK ADD  CONSTRAINT [FK_Position_Degree] FOREIGN KEY([Id_Degree])
REFERENCES [dbo].[Degree] ([Id_degree])
GO
ALTER TABLE [dbo].[Position] CHECK CONSTRAINT [FK_Position_Degree]
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD  CONSTRAINT [FK_Request_To_Spec] FOREIGN KEY([Id_Spec])
REFERENCES [dbo].[Specs] ([Id_Spec])
GO
ALTER TABLE [dbo].[Request] CHECK CONSTRAINT [FK_Request_To_Spec]
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD  CONSTRAINT [FK_Request_To_Subject] FOREIGN KEY([Id_Subject])
REFERENCES [dbo].[Subject] ([Id_Subject])
GO
ALTER TABLE [dbo].[Request] CHECK CONSTRAINT [FK_Request_To_Subject]
GO
ALTER TABLE [dbo].[Specs]  WITH CHECK ADD  CONSTRAINT [FK_Specs_To_Lectern] FOREIGN KEY([Id_Lectern])
REFERENCES [dbo].[Lectern] ([Id_Lectern])
GO
ALTER TABLE [dbo].[Specs] CHECK CONSTRAINT [FK_Specs_To_Lectern]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_To_Spec] FOREIGN KEY([Id_Spec])
REFERENCES [dbo].[Specs] ([Id_Spec])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_To_Spec]
GO
ALTER TABLE [dbo].[Subject]  WITH CHECK ADD  CONSTRAINT [FK_Subject_To_Lectern] FOREIGN KEY([Id_Lectern])
REFERENCES [dbo].[Lectern] ([Id_Lectern])
GO
ALTER TABLE [dbo].[Subject] CHECK CONSTRAINT [FK_Subject_To_Lectern]
GO
USE [master]
GO
